/*
CSS for Module 3 Coding Assignment
*/


body{
	background: navy;
	color: white;
}

#header-nav{
	border-radius: 0;
}

h1{
	color: blue;
	margin-top: 0px;
	left: 0px;
}

.navbar-brand{
	margin-bottom: 15px;
	}
