/*
CSS for Module 3 Coding Assignment
*/


body{
	background: navy;
	color: white;
}

#header-nav{
	border-radius: 0;
}
.navbar-brand h1{
	color: blue;	
	margin-top: 0;
	text-align: left;
	vertical-align: left;
}

.navbar-brand{
	margin-bottom: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #32a852;
}

.container li {
	color: gray;
	border: 1px solid gray;
	text-align: center;
}

