/*
CSS for Module 2 Coding Assignment
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: x-Large;
  	color: black;
}

p{
  color: white;
}

section{
  color: white;
}

#chickenbox{
  background-color: #35335e;
  width: 33.33%;
  position: relative;
  float left: 
}

#beefbox{
  background-color: #35335e;
  width: 33.33%;
}

#sushibox{
  background-color: #35335e;
  width: 33.33%;
}

#p1{
 background-color: #8681e3;
 position: top-right;
}

#p2{
 background-color: #ca79e8;
}

#p3{
 background-color: #e3906f;
}

