/*
CSS for Module 2 Coding Assignment
*/

*{ 
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
body{
	border: 15px solid white;
}
h1{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: x-Large;
	text-align: center;
  	color: black;
  	margin-top: 15px;
  	margin-bottom: 15px;
}

p{
  color: white;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

section{
  color: white;
  font size: small;
}


/**Styling for Desktops**/
@media (min-width: 992px) {
#chickenbox{
 background-color: gray;
 position: relative;
 border: 1px solid black; 
 width: 30%;
 margin-left: 15px;
 margin-right: 15px;
 float: left;
}

#beefbox{
 background-color: gray;
 position: relative;
 border: 1px solid black;
 width: 30%;
 margin-right: 15px;
 float: left;
}

#sushibox{
 background-color: gray;
 position: relative;
 border: 1px solid navy;
 width: 30%;
 margin-right: 15px;
 float: left;
}

#p1{
 background-color: #8681e3;
 position: absolute;
 top: 0px;
 right: 0px;
}

#p2{
 background-color: #ca79e8;
 position: absolute;
 top: 0px;
 right: 0px;
}

#p3{
 background-color: #e3906f;
 position: absolute;
 top: 0px;
 right: 0px;
}

#s1{
 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

#s2{
 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

#s3{
 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

}


/**Styling for Tablets **/
@media (min-width: 300px) {
#chickenbox{
 background-color: gray;
 position: relative;
 border: 1px solid black; 
 width: 50%;
 float: left;
 margin-bottom: 15px;
}

#beefbox{
 background-color: gray;
 position: relative;
 border: 1px solid black;
 width: 50%;
 float: left;
 margin-bottom: 15px;
}

#sushibox{
 background-color: gray;
 position: relative;
 border: 1px solid black;
 width: 100%;
 float: left;

}

#p1{
 background-color: #8681e3;
 position: absolute;
 top: 0px;
 right: 0px;
}

#p2{
 background-color: #ca79e8;
 position: absolute;
 top: 0px;
 right: 0px;
}

#p3{
 background-color: #e3906f;
 position: absolute;
 top: 0px;
 right: 0px;
}

#s1{
 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

#s2{
 margin-top: 20px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

#s3{
 margin-top: 25px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}
}

/**Styling for Mobile
@media (min-width: 992px) {
	
}**/