/*
CSS for Module 2 Coding Assignment
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: x-Large;
  	color: black;

}

p{
  color: white;
  border: 1px solid navy;
}

section{
  color: white;
}

#chickenbox{
  background-color: #35335e;
  position: relative;
  border: 1px solid navy;
}

#beefbox{
  background-color: #35335e;
  border: 1px solid navy;
}

#sushibox{
  background-color: #35335e;
  border: 1px solid navy;
}

#p1{
 background-color: #8681e3;
 position: absolute;
 top: 0%;
 right:100%;

}

#p2{
 background-color: #ca79e8;
}

#p3{
 background-color: #e3906f;
}


/**Styling for Desktops**/
@media (min-width: 300px) {
#chickenbox{
 background-color: gray;
 position: relative;
 border: 1px solid navy; 
 width: 33.33%;
 margin-bottom: 15px;

}

#beefbox{
 background-color: gray;
 position: relative;
 border: 1px solid navy;
 width: 33.33%;
 margin-bottom: 15px;
}

#sushibox{
 background-color: gray;
 position: relative;
 border: 1px solid navy;
 width: 33.33%;
 margin-bottom: 15px;
}

#p1{
 background-color: #8681e3;
}

#p2{
 background-color: #ca79e8;
}

#p3{
 background-color: #e3906f;
}

}


/**Styling for Tablets
@media (min-width: 992px) {
	
}

/**Styling for Mobile
@media (min-width: 992px) {
	
}**/